/* Importing fonts */
@font-face {
  font-family: orbitron-regular;
  src: url(../assets/fonts/Orbitron-Regular.ttf);
}

@font-face {
  font-family: raleway-regular;
  src: url(../assets/fonts/Raleway-Regular.ttf);
}

/* Main layout styles */
body {
  width: 100%;
  height: 100vh;
}

.contact-app {
  width: 100%;
  height: 100vh;
  display: flex;

  font-family: raleway-regular;
  background-color: aliceblue;
}

.contact-app__display-contacts {
  flex-basis: 75%;
  background-color: cadetblue;
}

img {
  width: 4rem;
  height: 5rem;
}

/* Styles for form */
.contact-app__form-container {
  flex-basis: 25%;
  height: 100vh;
  background-color: forestgreen;
}
.contact-app__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-form);
}

.form__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;

  margin: var(--spacing-medium);
}

.form__input-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-large);
  flex-grow: 1;
}

.form__input {
  width: 100%;
  height: 32px;
  padding: 0 var(--spacing-small);
  border-radius: var(--border-radius-small);
  border: none;
}

.form__address-input {
  resize: none;
  padding: var(--spacing-small);
  border-radius: var(--border-radius-small);
  font-family: inherit;
  border: none;
}

.form__submit-button {
  height: 32px;
  cursor: pointer;
  font-family: orbitron-regular;

  background-color: var(--color-add-button);
  color: white;
  border: none;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-base);
}

.form__submit-button:hover {
  opacity: 0.9;
}

/* Styles for the display section */
.contact-app__display-contacts {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
}

/* Styles for the search */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 10%;

  padding: var(--spacing-medium);
  background-color: var(--color-search);
  gap: var(--spacing-small);
}

.search__input,
.search__filter {
  padding: 0 var(--spacing-small);
  border-radius: var(--border-radius-small);
  height: 32px;
  width: 160px;
  font-family: inherit;
  border: none;
}

/* Styles for the contact list display */
.contacts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  background-color: var(--color-contacts);
  padding: var(--spacing-medium);
}

.contacts__header,
.contacts-container {
  display: flex;
  width: 100%;
  padding: var(--spacing-small);
  background-color: var(--color-header);

  font-family: orbitron-regular;
  font-size: var(--font-size-base);
  border-radius: var(--border-radius-small);

  box-shadow: 5px 5px 30px black;
  margin-bottom: var(--spacing-medium);
  border: none;
}

.contacts__header span {
  padding: var(--spacing-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__header span:not(:last-child) {
  border-right: 1px solid black;
}

.contacts__header--list-number {
  flex-basis: 5%;
}

.contacts__header--full-name {
  flex-basis: 30%;
}

.contacts__header--phone {
  flex-basis: 20%;
}

.contacts__header--address {
  flex-basis: 30%;
}

.contacts__header--controls {
  flex-basis: 15%;
}

/* Styling for the dynamically created contacts */
.contacts-container {
  display: flex;
  background-color: var(--color-search);
  border-bottom: 1px solid black;
  border-radius: var(--border-radius-small);

  font-family: raleway-regular;
  box-shadow: none;
}

.contacts-container span {
  display: flex;
  padding-left: var(--spacing-small);
  align-items: center;
  word-break: break-word;
}

.contacts-container span:not(:last-child) {
  border-right: 1px solid black;
}

.contacts-item__list-number {
  flex-basis: 5%;
}
.contacts-item__fullname {
  flex-basis: 30%;
}

.contacts-item__phone {
  flex-basis: 20%;
}

.contacts-item__address {
  flex-basis: 30%;
}

.contacts-item__controls {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}

.contacts-item__controls button {
  width: 32px;
  height: auto;
  cursor: pointer;

  padding: var(--spacing-x-small);
  border-radius: var(--border-radius-small);
  border: none;
}

.contacts-item__controls button:hover {
  opacity: 0.7;
  box-shadow: 2px 2px 10px black;
}
