:root {
  /* Colors */
  --color-header: #d2e0fb;
  --color-form: #aad5e1;
  --color-search: #7ab2d3;
  --color-contacts: #d6ebeb;
  --color-add-button: #03346e;
  --color-edit: #fffed3;
  --color-text: #f5f5f5;

  /* Spacing */
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-x-large: 3rem;

  /* Font size */
  --font-size-small: 0.5rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-largre: 1.5rem;
  --font-size-x-largre: 2rem;

  /* Border radius */
  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;
}
